.infinite-record-context.fixed {
  margin-top: 60px;

  .infinite-record-context-resource {
    display: block;     
    background-color: white;
    padding: 15px 20px;       
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    text-decoration: none !important;
    position: relative;

    @media (max-width: 640px) {
      padding: 15px 30px 15px 15px !important;
    }

    .infinite-record-context-resource-title {
      font-weight: bold;
      color: #34b6e4;
      font-size: 1.25rem;

      @media (max-width: 640px) {
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        font-size: 18px;
        line-height: 28px;
        vertical-align: middle;
        display: inline-block;
        font-size: 18px;
      }
    }

    .infinite-record-context-resource-back-to-top {
      float: right;
      line-height: 30px;

      @media (max-width: 640px) {

        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -15px;

        span {
          left: -10000px;
          position: absolute;
        }
    }
  }

  .infinite-record-context-affix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
.infinite-record-context.fixed {
  margin-top: 60px;

  .infinite-record-context-resource {
    display: block;
    background-color: white;
    padding: 15px 20px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    text-decoration: none !important;
    position: relative;

    @media (max-width: 640px) {
      padding: 15px 30px 15px 15px !important;
    }

    .infinite-record-context-resource-title {
      font-weight: bold;
      color: #34b6e4;
      font-size: 1.25rem;

      @media (max-width: 640px) {
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        font-size: 18px;
        line-height: 28px;
        vertical-align: middle;
        display: inline-block;
        font-size: 18px;
      }
    }

    .infinite-record-context-resource-back-to-top {
      float: right;
      line-height: 30px;

      @media (max-width: 640px) {

        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -15px;

        span {
          left: -10000px;
          position: absolute;
        }

    }
  }
}

// Do not show this to the user
.honeypot {
  position: absolute;
  left: -9999px;
}
.infinite-record-context.fixed {
  margin-top: 60px;

  .infinite-record-context-resource {
    display: block;
    background-color: white;
    padding: 15px 20px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    text-decoration: none !important;
    position: relative;

    @media (max-width: 640px) {
      padding: 15px 30px 15px 15px !important;
    }

    .infinite-record-context-resource-title {
      font-weight: bold;
      color: #34b6e4;
      font-size: 1.25rem;

      @media (max-width: 640px) {
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        font-size: 18px;
        line-height: 28px;
        vertical-align: middle;
        display: inline-block;
        font-size: 18px;
      }
    }

    .infinite-record-context-resource-back-to-top {
      float: right;
      line-height: 30px;

      @media (max-width: 640px) {

        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -15px;

        span {
          left: -10000px;
          position: absolute;
        }
    }
  }

  .infinite-record-context-affix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }


  .infinite-record-context-selector {
    height: 60px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  }
}

#collection-feed {
  .infinite-item.infinite-item-archival-object {
  GNU nano 2.0.9                  File: aspace.scss                                           


    &.infinite-item-indent-1 {
      padding: 10px 0;
    }

    h3 {
      font-size: 1.1rem;
      margin-bottom: 5px;
    }

    dl dt {
      display: none;
    }
    dl dd {
      margin-left: 0;
    }
  }
}

