<div class="container-fluid panel-footer bottom-bar large-12">
    <div id="footer-first" class="large-4 columns">
        <a href="https://tufts.edu">
            <img src="/assets/images/tufts-logo-univ-white.svg" alt="Tufts University Logo" class="logo">
        </a>
    </div>

    <div id="footer-middle" class="large-4 columns">
        <div class="footer-address">
            <h3>Contact</h3>
            <p>
                Digital Collections and Archives
                <br> Tisch Library Building
                <br> 35 Professors Row
                <br> Medford, MA 02155
                <br>
            </p>
            <p>
                archives@tufts.edu
                <br> Phone: <a href="tel:617-627-3737">617.627.3737</a>
            </p>
        </div>
    </div>

    <div id="footer-last" class="large-4 columns">
        <h3>Feedback</h3>
        <div>
            <nav role="navigation" aria-labelledby="block-dca-foundation-footer-menu" id="block-dca-foundation-footer" class="block-dca-foundation-footer">


                <ul class="menu">
                    <li>
                        <a href="https://dca.tufts.edu/about/contact-us/give-us-feedback" data-drupal-link-system-path="node/235">Send us feedback</a>
                    </li>
                    <li>
                        <a href="https://www.tufts.edu/about/privacy">Privacy Statement</a>
                    </li>
					<li>
						<p>ArchivesSpace &nbsp;<%= ASConstants.VERSION %></p>
					</li>
                </ul>

            </nav>

        </div>
      <!--  
  <div class="col-md-12">
       <p class="footer-items">ArchivesSpace &nbsp;<%= ASConstants.VERSION %></p>
     </div>-->
  </div>
	

    </div>
</div>
